<!-- CARD -->
<div class="card">
  <div class="card-body">
    <!-- TITULO VISTA -->
    <div class="title">
      <h1> Listado de Categorías </h1>
    </div>

    <!-- BOTON AGREGAR -->
    <div class="botonDer">
      <button type="button" class="btn btn-primary btn-new" (click)="showModalForm()">
        <i class="ph ph-plus-circle icon-text-button"></i>
        <p class="new-cat"> Nueva categoria </p>
      </button>
    </div>

    <!-- BUSCADOR -->
    <div class="input-group mb-3">
      <input #categoryIdInput type="number" class="form-control" placeholder="Buscar por id ..." id="Buscar"
        aria-describedby="basic-addon2">
      <span (click)="cleanSearch(categoryIdInput)" class="input-group-text">&times;</span>
      <div class="input-group-append cursor-pointer">
        <button (click)="getCategory(categoryIdInput.value)" class="btn btn-outline-secondary"
          type="button">Buscar</button>
      </div>
    </div>

    <!-- TABLA CATEGORIAS -->
    <table class="table table-hover">
      <caption>
        Categorías
      </caption>

      <!-- ENCABEZADO -->
      <thead>
        <tr class="table-primary">
          <th scope="col" class="id"> ID_Categoría <i [appSort]="categories" data-order="asc" data-name="category_id"
              class="cursor-pointer ph-fill ph-caret-up-down"></i> </th>
          <th scope="col"> Código <i [appSort]="categories" data-order="asc" data-name="code"
              class="cursor-pointer ph-fill ph-caret-up-down"></i> </th>
          <th scope="col"> Categoría <i [appSort]="categories" data-order="asc" data-name="category"
              class="cursor-pointer ph-fill ph-caret-up-down"></i> </th>
          <th scope="col" class="dropdown"> Estatus
            <i *ngIf="sortStatus" [appSort]="categories" data-order="asc" data-name="status"
              class="cursor-pointer ph-fill ph-caret-up-down"></i>
            <button class="dropdown-button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="ph-fill ph-caret-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item edit-item" (click)="getCategories()">
                <i class="ph ph-eye icon-text-ul"></i>
                <p class="item-txt">Todo</p>
              </a>
              <a class="dropdown-item edit-item" (click)="getActiveCategories()">
                <i class="ph ph-check-circle icon-text-ul"></i>
                <p class="item-txt">Activo</p>
              </a>
              <a class="dropdown-item edit-item" (click)="getInactiveCategories()">
                <i class="ph ph-x-circle icon-text-ul"></i>
                <p class="item-txt">Inactivo</p>
              </a>
            </div>
          </th>
          <th scope="col"> Más </th>
        </tr>
      </thead>

      <!-- CUERPO -->
      <tbody>
        <tr
          *ngFor="let content of categories | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: categories.length}">
          <td class="id"> {{ content.category_id }} </td>
          <td> {{ content.code }} </td>
          <td> {{ content.category }} </td>
          <td>
            <div class="td-status"
              [ngClass]="{'td-status-enable': content.status == 1, 'td-status-disable': content.status == 0}">
              {{ content.status == 0 ? "Inactivo": "Activo" }}
            </div>
          </td>
          <td>

            <!-- DROPDOWN -->
            <div class="dropdown">
              <button class="dropdown-button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item edit-item" (click)="updateCategory(content)">
                  <i class="ph ph-note-pencil icon-text-ul"></i>
                  <p class="item-txt">Editar</p>
                </a>
                <a *ngIf="content.status == 0" class="dropdown-item enable-item"
                  (click)="enableCategory(content.category_id)">
                  <i class="ph ph-check-circle icon-text-ul"></i>
                  <p class="item-txt">Activar</p>
                </a>
                <a *ngIf="content.status == 1" class="dropdown-item disable-item"
                  (click)="disableCategory(content.category_id)">
                  <i class="ph ph-x-circle icon-text-ul"></i>
                  <p class="item-txt">Desactivar</p>
                </a>
              </div>
            </div>

          </td>
        </tr>
      </tbody>
    </table>

    <!-- PAGINADOR -->
    <div class="pagination-controls">
      <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>
  </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" data-bs-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> {{ categoryUpdated == 0? "Registrar": "Actualizar" }} categoria</h5>
        <button type="button" class="modal-close-button" data-bs-dismiss="modal" aria-label="Close">
          <span class="modal-close-button-x">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- FORMULARIO -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <!-- CATEGORIA  -->
          <div class="form-group">
            <label for="category">Categoria <span class="color-red">*</span> </label>
            <input type="text" class="form-control" formControlName="category" id="category"
              placeholder="Nombre de la categoria..."
              [ngClass]="{'is-invalid': form.controls['category'].errors && submitted}">
            <div *ngIf="form.controls['category'].errors && submitted">
              <small class="color-red">Favor de ingresar una categoria válida</small>
            </div>
          </div>

          <!-- CODIGO  -->
          <div class="form-group">
            <label for="code">Código <span class="color-red">*</span> </label>
            <input type="text" class="form-control" formControlName="code" id="code"
              placeholder="Código de la categoria..."
              [ngClass]="{'is-invalid': form.controls['code'].errors && submitted}">
            <div *ngIf="form.controls['code'].errors && submitted">
              <small class="color-red">Favor de ingresar un código de categoria válido</small>
            </div>
          </div>

          <!-- GUARDAR  -->
          <div class="form-button">
            <button type="submit" class="btn btn-primary btn-form">Guardar</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>